In [ ]:
import json
import pandas as pd
import requests

In [ ]:
#loads a JSON file
url = 'https://raw.githubusercontent.com/jasonwnc/ds2002s24/main/2.%20Python/coll%20bb_SortByConf.json'
response = requests.get(url)
teams = json.loads(response.text)
#put it into data frame
df = pd.DataFrame(teams['teams'])
#output 100 rows
df.head(100)

,tid,cid,did,region,name,abbrev,pop,city,state,latitude,longitude
0,159,0,0,Boston College,Eagles,BC,161,Chestnut Hill,MA,42.330,-71.166
1,105,0,0,Clemson,Tigers,CLEM,215,Clemson,SC,34.678,-82.839
2,109,0,0,Florida State,Seminoles,FSU,211,Tallahassee,FL,30.442,-84.298
3,18,0,0,Louisville,Cardinals,UL,302,Louisville,KY,38.250,-85.766
4,31,0,0,North Carolina State,Wolfpack,NCST,289,Raleigh,NC,35.786,-78.682
...,...,...,...,...,...,...,...,...,...,...,...
95,300,5,11,Jacksonville State,Gamecocks,JVILLE,20,Jacksonville,AL,33.815,-85.760
96,72,6,12,Eastern Washington,Eagles,EWASH,248,Cheney,WA,47.488,-117.578
97,139,6,12,Sacramento State,Hornets,SACST,181,Sacramento,CA,38.555,-121.468
98,239,6,12,Northern Colorado,Bears,NOCOL,81,Greeley,CO,40.416,-104.716
99,266,6,12,Idaho,Vandals,UI,54,Moscow,ID,46.730,-117.000

In [ ]:
#how many teams are there
num_teams = len(df)
print("Number of teams:", num_teams)

Number of teams: 320

In [ ]:
#how many teams are in the state of Virginia
virginia_teams = df[df['state'] == 'VA']
print("Number of teams in Virginia:", virginia_teams)

Number of teams in Virginia:      tid  cid  did          region         name  abbrev  pop             city  \
13     6    0    1        Virginia    Cavaliers     UVA  314  Charlottesville
14   220    0    1   Virginia Tech       Hokies      VT  100       Blacksburg
178   63   11   22        Richmond      Spiders    RICH  257         Richmond
182  223   11   22    George Mason     Patriots     GMU   97          Fairfax
185   20   11   23             VCU         Rams     VCU  300         Richmond
198  316   12   24        Longwood      Lancers    LONG    4        Farmville
203  149   12   25         Radford  Highlanders     RAD  171          Radford
224   40   14   28    Old Dominion     Monarchs     ODU  280          Norfolk
277  282   17   34             VMI      Keydets     VMI   38        Lexington
281  165   17   35   Norfolk State     Spartans  NORFST  155          Norfolk
282  224   17   35         Hampton      Pirates    HAMP   96          Hampton
284   98   17   35  William & Mary      Griffin     W&M  222     Williamsburg
285  155   17   35   James Madison        Dukes     JMU  165     Harrisonburg

    state  latitude  longitude
13     VA    38.030    -78.478
14     VA    37.230    -80.417
178    VA    37.533    -77.466
182    VA    38.852    -77.304
185    VA    37.533    -77.466
198    VA    37.297    -78.395
203    VA    37.127    -80.569
224    VA    36.916    -76.200
277    VA    37.783    -79.445
281    VA    36.848    -76.262
282    VA    37.022    -76.336
284    VA    37.271    -76.707
285    VA    38.438    -78.873

In [ ]:
#list of duplicate mascots and group them by number
duplicates = df.groupby('name').filter(lambda x: len(x) > 1)['name'].value_counts()
print(duplicates)

Bulldogs         13
Eagles           10
Tigers            9
Panthers          8
Wildcats          8
Huskies           5
Aggies            4
Bears             4
Rams              4
Cougars           4
Hawks             4
Spartans          4
Golden Eagles     4
Cardinals         4
Owls              4
Cowboys           3
Terriers          3
Redhawks          3
Hornets           3
Bobcats           3
Pirates           3
Mountaineers      3
Broncos           3
Vikings           3
Trojans           3
Jaguars           3
Knights           2
Highlanders       2
Bulls             2
Dukes             2
Colonials         2
Catamounts        2
Buccaneers        2
Raiders           2
Bison             2
Mustangs          2
Mavericks         2
49ers             2
Gaels             2
Roadrunners       2
Bisons            2
Lumberjacks       2
Lions             2
Titans            2
Phoenix           2
Crusaders         2
Bruins            2
Pioneers          2
Rebels            2
Gamecocks         2
Wolverines        2
Falcons           2
Name: name, dtype: int64